<script type="importmap">
    {
      "imports": {
        "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
      }
    }
  </script>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Kniffel</title>
    <link id="style1" rel="stylesheet" href="style_game.css">
    <script src="script.js"></script>
</head>

<body>
    <div id="app" class="container">
        <h1 class="item">Kniffelspaß!</h1>
        <div class="item">
            <div class="item" style="flex-flow: column">
                <div v-for="button in buttonList" :key="button.id">
                    <button v-if="button.locked" class="dice"
                        :style="{ backgroundImage: 'url(images/dice' + button.value + '.png)' }"
                        @click="holdDice(button.id)" :disabled="allDisabled"> </button>
                    <button v-else class="dice"
                        :style="{ backgroundImage: 'url(images/dice' + button.value + '_marked.png)' }"
                        @click="holdDice(button.id)" :disabled="allDisabled"> </button>

                </div>
                <button v-if="rollCounter<3" class='standard_button' @click="rollDices">Würfeln</button>
                <button v-else class='standard_button' @click="rollDices" disabled>Würfeln</button>
            </div>
            <div class="item">
                <table>
                    <thead>
                        <tr>
                            <td class="table_cell"></td>
                            <td class="table_cell_heading">{{player_name_1}}</td>
                            <td class="table_cell_heading">{{player_name_2}} </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="score in scoreList.slice(0,6)" :key="score.id">
                            <td class="table_cell_heading">{{score.name}}</td>
                            <td class="table_cell"><button  :class="{ 'button_table_possible': score.possibe_player1,  'button_table': !score.possibe_player1}" :disabled="score.locked_player1" @click="selectResult(score.id)" >{{score.value_player1}}</button></td>
                            <td class="table_cell"><button class="button_table" :disabled="score.locked_player2" @click="selectResult(score.id)">{{score.value_player2}}</button></td>
                        </tr>
                        <tr v-for="score in scoreList.slice(6,9)" :key="score.id">
                            <td class="table_cell_heading">{{score.name}}</td>
                            <td class="table_cell"> {{score.value_player1}} </td>
                            <td class="table_cell"> {{score.value_player2}} </td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <thead>
                        <tr>
                            <td class="table_cell"></td>
                            <td class="table_cell_heading">{{player_name_1}}</td>
                            <td class="table_cell_heading">{{player_name_2}} </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="score in scoreList.slice(9,16)" :key="score.id">
                            <td class="table_cell_heading">{{score.name}}</td>
                            <td class="table_cell"><button class="button_table" :disabled="score.locked_player1" @click="selectResult(score.id)" >{{score.value_player1}}</button></td>
                            <td class="table_cell"><button class="button_table" :disabled="score.locked_player2" @click="selectResult(score.id)">{{score.value_player2}}</button></td>
                        </tr>
                        <tr v-for="score in scoreList.slice(16)" :key="score.id">
                            <td class="table_cell_heading">{{score.name}}</td>
                            <td class="table_cell"> {{score.value_player1}} </td>
                            <td class="table_cell"> {{score.value_player2}} </td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="module">
    import { createApp } from 'vue'
    createApp({
        data() {
            return {
                rollCounter: 0,
                allDisabled: true,
                activePlayer: 1,
                player_name_1: 'Standard Player 1',
                player_name_2: 'Standard Player 2',
                buttonList: [
                    {
                        id: 1,
                        locked: true,
                        value: 1
                    },
                    {
                        id: 2,
                        locked: true,
                        value: 2
                    },
                    {
                        id: 3,
                        locked: true,
                        value: 3
                    },
                    {
                        id: 4,
                        locked: true,
                        value: 4
                    },
                    {
                        id: 5,
                        locked: true,
                        value: 5
                    }
                ],
                scoreList: [
                    {
                        id:1,
                        name:"1er",
                        value_player1:0,
                        value_player2:0,
                        locked_player1: false,
                        locked_player2: false,
                        possibe_player1: false,
                        possibe_player2: false
                    },
                    {
                        id:2,
                        name:"2er",
                        value_player1:0,
                        value_player2:0,
                        locked_player1: false,
                        locked_player2: false,
                        possibe_player1: false,
                        possibe_player2: false
                    },
                    {
                        id:3,
                        name:"3er",
                        value_player1:0,
                        value_player2:0,
                        locked_player1: false,
                        locked_player2: false,
                        possibe_player1: false,
                        possibe_player2: false
                    },
                    {
                        id:4,
                        name:"4er",
                        value_player1:0,
                        value_player2:0,
                        locked_player1: false,
                        locked_player2: false,
                        possibe_player1: false,
                        possibe_player2: false
                    },
                    {
                        id:5,
                        name:"5er",
                        value_player1:0,
                        value_player2:0,
                        locked_player1: false,
                        locked_player2: false,
                        possibe_player1: false,
                        possibe_player2: false
                    },
                    {
                        id:6,
                        name:"6er",
                        value_player1:0,
                        value_player2:0,
                        locked_player1: false,
                        locked_player2: false,
                        possibe_player1: false,
                        possibe_player2: false
                    },
                    {
                        id:6,
                        name:"Summe Oben",
                        value_player1:0,
                        value_player2:0,
                        locked_player1: false,
                        locked_player2: false,
                        possibe_player1: false,
                        possibe_player2: false
                    },
                    {
                        id:7,
                        name:"Bonus (63+)",
                        value_player1:0,
                        value_player2:0,
                        locked_player1: false,
                        locked_player2: false,
                        possibe_player1: false,
                        possibe_player2: false
                    },
                    {
                        id:8,
                        name:"Gesamt Oben",
                        value_player1:0,
                        value_player2:0,
                        locked_player1: false,
                        locked_player2: false,
                        possibe_player1: false,
                        possibe_player2: false
                    },
                    {
                        id:9,
                        name:"3er Pasch",
                        value_player1:0,
                        value_player2:0,
                        locked_player1: false,
                        locked_player2: false,
                        possibe_player1: false,
                        possibe_player2: false
                    },
                    {
                        id:10,
                        name:"4er Pasch",
                        value_player1:0,
                        value_player2:0,
                        locked_player1: false,
                        locked_player2: false,
                        possibe_player1: false,
                        possibe_player2: false
                    },
                    {
                        id:11,
                        name:"Full House",
                        value_player1:0,
                        value_player2:0,
                        locked_player1: false,
                        locked_player2: false,
                        possibe_player1: false,
                        possibe_player2: false
                    },
                    {
                        id:12,
                        name:"Kleine Straße",
                        value_player1:0,
                        value_player2:0,
                        locked_player1: false,
                        locked_player2: false,
                        possibe_player1: false,
                        possibe_player2: false
                    },
                    {
                        id:13,
                        name:"Große Straße",
                        value_player1:0,
                        value_player2:0,
                        locked_player1: false,
                        locked_player2: false,
                        possibe_player1: false,
                        possibe_player2: false
                    },
                    {
                        id:14,
                        name:"Kniffel",
                        value_player1:0,
                        value_player2:0,
                        locked_player1: false,
                        locked_player2: false,
                        possibe_player1: false,
                        possibe_player2: false
                    },
                    {
                        id:15,
                        name:"Chance",
                        value_player1:0,
                        value_player2:0,
                        locked_player1: false,
                        locked_player2: false,
                        possibe_player1: false,
                        possibe_player2: false
                    },
                    {
                        id:16,
                        name:"Gesamt Unten",
                        value_player1:0,
                        value_player2:0,
                        locked_player1: false,
                        locked_player2: false,
                        possibe_player1: false,
                        possibe_player2: false
                    },
                    {
                        id:17,
                        name:"Gesamt",
                        value_player1:0,
                        value_player2:0,
                        locked_player1: false,
                        locked_player2: false,
                        possibe_player1: false,
                        possibe_player2: false
                    }

                ]
            }
        },
        methods: {
            async holdDice(id) {
                console.log(id)
                this.buttonList[id - 1].clicked = !this.buttonList[id - 1].clicked
                try {
                    const response = await axios.post('http://localhost/game.php', {
                        id: id
                    });
                    console.log(response.data);
                } catch (error) {
                    console.error(error);
                }
            },
            async rollDices() {
                this.allDisabled = false
                for (let i = 0; i < this.buttonList.length; i++) {
                    if (this.buttonList[i].locked == false) {
                        this.buttonList[i].value = Math.floor(Math.random() * 6) + 1
                    }
                }
                // check for score and special score buttons
                this.rollCounter++
                if (this.rollCounter >= 3) {
                    this.allDisabled = true
                }
                // send dice array to server
                try {
                    const response = await axios.post('http://localhost/game.php', {
                        roll: true
                    });
                    console.log(response.data);
                } catch (error) {
                    console.error(error);
                }
            },

            async selectResult(id){
                console.log(id)
                // send clicked button to server, receive complete round
                try {
                    const response = await axios.post('http://localhost/game.php', {
                        scoreId: id
                    });
                    console.log(response.data);
                } catch (error) {
                    console.error(error);
                }
                // decode response --> should be complete round
            },

            checkSpecialScore(){
                // check for special score buttons

            }


        },
        mounted(){
            // get game state from server and update js variables
            console.log("mounted")
        }
    }).mount('#app')
</script>