* {
    box-sizing: border-box;
  }
body {
margin: 0;
}
.border{border:1px solid #ccc!important}
.progress{
    background-color: aqua;
}
#boxes {
  content: "";
  display: table;
  clear: both;
}
div {
  float: left;
  height: 470px;
  width: 23%;
  padding: 0 10px;
}



@media screen and (max-width: 600px) {
.column.nav,.column.aside, .column.middle {
    width: 100%;
}
}